@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
ol{ 
    font-family:sans-serif;
    font-size: 20px;
    color: gray;
    font-weight: 550;
}
ol li span{
    color: rgb(220, 98, 98);
}
h2{
    font-family:'Poppins', sans-serif;
}
.text{
    font-size: 13px;
}